<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   $(document).ready(function (){
      //$('.site').addClass('animated fadeInUp');

      $('#transformer-project').click(function() {
        return window.location.href = 'transformer';
      });

      $('#system-project').click(function() {
        return window.location.href = 'design_system';
      });

      $('#management-project').click(function() {
        return window.location.href = 'management';
      });

      $('#splunk_project').click(function() {
        return window.location.href = 'splunk';
      });

      $('#back').click(function() {
        return window.location.href = '';
      });

      $(window).scroll(function() {
          var scroll = $(window).scrollTop();

          if (scroll < 10) {
              $(".global-back").removeClass("scrolled");
          } else {
              $(".global-back").addClass("scrolled");
          }
      });
   });
</script>
