---
---
h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 54px;
}

body {
    font-family: system-ui, georgia, serif;
    background-color: #fafafa;
    color: #444;
    -webkit-font-smoothing: antialiased;
}
